*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: lavender;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

#workspace {
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}

#board-top {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
}

#board-bot {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue
}

.start-btn {
    width: 150px;
    height: 50px;
}