@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Schoolbell&display=swap');

/*#########
GLOBAL CSS
##########*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    /*
VARIABLES
########*/
    /*COLORS*/
    /*##PRIMARY*/
    /*####DARK GREEN*/
    --color-main-h: 118;
    --color-main-s: 71%;
    --color-main-l: 8%;
    /*##SECONDARY*/
    /*####WHITE*/
    --color-sub-h: 360;
    --color-sub-s: 100%;
    --color-sub-l: 100%;
    /*####RED*/
    --color-red-h: 360;
    --color-red-s: 100%;
    --color-red-l: 46%;
    /*####DARK BROW*/
    --color-brown-h: 0;
    --color-brown-s: 56%;
    --color-brown-l: 14%;
    /*####DARK GREY FOR NUMPAD*/
    --color-pad-h: 0;
    --color-pad-s: 0%;
    --color-pad-l: 30%;
    /*FONT*/
    --ff-outside: 'Schoolbell', cursive;
    --ff-inside: 'Fredericka the Great', cursive;
    --fs-title: 3rem;
    --fs-normal: 2rem;
    --fs-note: 1.5rem;
    --fs-detail: 1rem;
}

body {
    width: 100%;
    height: 100vh;
    background-color: BurlyWood;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main>header>h1 {
    font-family: var(--ff-outside);
    font-size: var(--fs-title);
    margin: 0;
    user-select: none;
}



#workspace {
    height: 65vh;
    min-height: 720px;
    width: 50%;
    min-width: 720px;
    font-family: var(--ff-inside);
    color: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./src/img/board.jpg');
    background-size: cover;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border: solid 5px hsl(var(--color-brown-h), var(--color-brown-s), var(--color-brown-l));
}


#board-top {
    height: 85%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board-bot {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 0.5rem 1.5rem;
    font-size: var(--fs-normal);
    font-family: var(--ff-inside);
    background-color: transparent;
    color: inherit;
    border: none;
    transition: ease-in-out 0.5s;
}

.button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

@media (max-width: 720px) {
    main>header>h1 {
        font-size: var(--fs-normal)
    }

    #workspace {
        width: 100%;
        min-width: 100%;
    }

    #board-top.mobile {
        height: 25%;
    }

    #board-bot.mobile {
        height: 75%;
    }

    .button:hover {
        transform: scale(1);
        cursor: pointer;
        border: solid 1px hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    }
}

/*#########
HELP DIALOG
##########*/
.help:hover {
    cursor: pointer;
}

.help>svg {
    width: var(--fs-normal);
    margin-left: 1rem;
}

dialog {
    z-index: 10;
    font-family: var(--ff-inside);
    color: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    padding: 0;
    background-image: url('./src/img/board.jpg');
    background-size: cover;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border: solid 3px hsl(var(--color-brown-h), var(--color-brown-s), var(--color-brown-l));
}

.lang-btn {
    border-bottom: 3px solid hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    width: 100%;
}

.lang-btn>button,
#modal-close {
    background-color: transparent;
    border: none;
    font-family: var(--ff-inside);
    color: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    font-size: var(--fs-detail);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 1.5rem;
}

.lang-btn>button.active {
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l)) solid 2px;
}

.help-text {
    display: none;
    padding: 1rem;
    line-height: 1.3rem;
    text-align: justify;
}

.help-text.active {
    display: block;
}

#modal-close {
    font-size: var(--fs-note);
    transition: ease-in-out 0.5s;
}

#modal-close:hover {
    border: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l)) solid 2px;
}

/*#########
START PAGE CSS
##########*/
.setting-title {
    font-size: var(--fs-normal);
    margin-bottom: 1.5rem;
    user-select: none;
}

.setting-window {
    user-select: none;
    font-size: var(--fs-note);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.setting-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}


.setting-option:nth-child(1)::before {
    content: 'Timer'
}

.setting-option:nth-child(2)::before {
    content: 'Numbers\' Range';
}

.setting-option:nth-child(3)::before {
    content: 'Operations';
}

.setting-option>label {
    cursor: pointer;
    margin: 10px;
}

.setting-option>label:hover {
    scale: 1.2;
}

.setting-checkbox:checked~span {
    /*FROM https://codepen.io/tracilynn/pen/vKqNZO?editors=1100*/
    border: 10px solid hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
}

.setting-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.setting-option:nth-child(3)>label>span {
    position: relative;
    font-size: var(--fs-normal);
    font-weight: 700;
}

.setting-option:nth-child(3)>label>span:after {
    content: '|';
    position: absolute;
    font-size: 5rem;
    left: 30%;
    top: -75%;
    transform: rotate(10deg)
}

@media (max-width: 650px) {
    .setting-option {
        flex-wrap: wrap;
    }

    .setting-option::before {
        width: 100%;
    }


}

/*#########
COUNTDOWN CSS
##########*/
.countdown {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-number {
    font-size: var(--fs-title);
}

/*#########
GAMES START CSS
##########*/
.time-bar {
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}

.time-rem {
    height: 100%;
    background-color: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    animation-name: timer-bar;
    animation-timing-function: linear;
}

@keyframes timer-bar {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.math-text {
    font-size: var(--fs-title);
}

#user-answer {
    width: 25%;
    font-size: var(--fs-normal);
}

.keypad {
    width: 70%;
    height: 60%;
    display: none;
    grid-template-columns: repeat(6, 1fr);

}

.keypad-key {
    grid-column: span 2;
    font-size: var(--fs-detail);
    background-color: hsl(var(--color-pad-h), var(--color-pad-s), var(--color-pad-l));
    color: hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    border: solid 2px hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
}

.keypad-key:nth-child(1) {
    grid-column: 1/4;
    background-color: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
}

.keypad-key:nth-child(2) {
    grid-column: 4/7;
    background-color: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
}

.keypad-key:last-child {
    --color-main-l: 25%;
    grid-column: 1/7;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l))
}

.keypad-key:active {
    --color-pad-l: 10%;
    --color-red-l: 26%;
    --color-main-l: 40%;
}

@media (max-width: 720px) {
    #user-answer {
        width: 75%;
    }

    .keypad {
        display: grid;
    }
}

/*#########
RESULT WINDOW CSS
##########*/
.result-title {
    font-size: var(--fs-title);
    margin: 0;
    text-transform: uppercase;
    justify-self: flex-start;
}

.result-list {
    margin: 0;
    padding: 0;
    max-height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.answer {
    list-style: none;
    width: max-content;
    margin: 0.5rem;
    padding: 0.2rem;
    height: max-content;
    font-size: var(--fs-note);
}

.answer>span  {
    --color-main-l: 80%;
    color:hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    /*FROM https://codepen.io/tracilynn/pen/vKqNZO?editors=1100*/
    border: 10px solid hsl(var(--color-sub-h), var(--color-sub-s), var(--color-sub-l));
    border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
    padding: 0.2rem;
}

.answer[data-result='correct']>span {
    display: none;
}

.answer[data-result='wrong'] {
    background-color: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.result-text {
    font-size: var(--fs-note);
    text-transform: uppercase;
}

/*#########
FOOTER
##########*/
.attribution {
    width: inherit;
    font-family: var(--ff-outside);
    font-size: var(--fs-detail);
    text-align: center;
    user-select: none;
}

.social-link {
    text-decoration: none;
    color: inherit
}